  <div id='createEntry'>
    <h1>Create Entry</h1><br>
      <form method="POST" ng-submit='postLog()'>
        User: <input type="text" placeholder='Enter your username' ng-model='user' size='50'> <p>
        Title: <input type="text" placeholder='Enter the title of your post..' ng-model='title' size='50'> <p>
        Text: <textarea type="text" placeholder='Enter the text of your post here..' ng-model='logtext' rows="10" cols="50"></textarea> <p>
        tags: <input type="text" placeholder='input your tags here (separated by commas) ..' ng-model='tags' size="50"><p>
        <button type="submit">SUBMIT</button>
      </form>

      {{display}}

  </div>